<section class="menu-hamburguesa">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/ima/logo2.png" width="60px" height="45px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Categorias
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Autos</a>
              <a class="dropdown-item" href="#">SUVs & Crossovers</a>
              <a class="dropdown-item" href="#">Performante</a>
              <a class="dropdown-item" href="#">Pick Ups</a>
              <a class="dropdown-item" href="#">Vans y Comerciales</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mapa">Ubicanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="conocenos">Conocenos</a>
        </li>

      </ul>
    </div>
  </nav>
</section>