<br>
<br>
<br>
<br>
<div class="loginSes">
  <h1>Bienvenido</h1>
  <h3>Inicio de Sesión</h3>
  <form>
      <div class="form-group">
          <label for="exampleInputEmail1">Ingrese su usuario</label>
          <input type="text" class="form-control" name="usr" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Ingrese su usuario">
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tus datos</small>
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" name="pss" class="form-control" id="exampleInputPassword1"
              placeholder="Ingrese  su Contraseña">
      </div>
      <div class="loginbtn">
          <br>
          <button type="submit" class="btn btn-primary"> Iniciar Sesión</button>
      </div>
  </form>
</div>
<br>