<section class="contacto">
  <div class="imgMap">
    <h1>Envia un mensaje</h1>
    <h4>Nosotros te contactaremos</h4>
    <img id="imagen" src="assets\ima\message.png">
  </div>
  <div class="formulario">
    <form action="">
      <div class="form-group">
        <h6 class="display-4">Nombre:</h6>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <h6 class="display-4">Correo:</h6>
        <input type="email" class="form-control" id="email">
      </div>
      <h6 class="display-4">Mensaje:</h6>
      <textarea style="resize: none;" class="form-control" rows="6" id="comment"></textarea>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>


  </div>
</section>